@import "tailwindcss";

html,
body {

  -webkit-tap-highlight-color: transparent;

  touch-action: manipulation;

}

* {

  -webkit-tap-highlight-color: transparent;

}

button,
img,
.map-place-button,
.mission-card {

  -webkit-user-select: none;

  user-select: none;

}